name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: uv sync --all-groups

      - uses: j178/prek-action@v1 # enforce hooks

      - name: Lint with Ruff
        run: uvx ruff check .

      - name: Format with Ruff w/o modifying
        run: uvx ruff format --check .

      - name: Type check with ty
        run: uvx ty check .

      - name: Run tests
        run: uv run pytest -v

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: uv sync

      - name: Verify CLI loads
        run: uv run job --help
